/* 首页导航 */
.contenthead .shopall{float:left;width:190px;height:34px;background-color:#CE171F;position:relative;z-index:5;}
.contenthead .shopall h2{width:100%;height:100%;line-height:34px;font-size:14px;font-weight:mormal;text-align:center;color:#FFF;-webkit-box-shadow:4px 2px 5px rgba(0, 0, 0, 0.2);-moz-box-shadow:4px 2px 5px rgba(0, 0, 0, 0.2);box-shadow:4px 2px 5px rgba(0, 0, 0, 0.2);}
.categoryBox{width:190px;height:450px;position:absolute;z-index:7;top:100%;left:0;}
.categoryBox li{height:89px;background-color:#FFF;border-bottom:1px solid #E4E4E4;}
.categoryBox li .catItemCon{border-left:3px solid #FFF;padding:7px 4px 6px 10px;height:76px;}
.categoryBox li h3{height:32px;line-height:32px;font-size:14px;font-weight:normal;color:#333;}
.categoryBox li h3 i{display:inline-block;vertical-align:middle;width:14px;height:20px;margin-right:10px;background-image:url(../images/public-24.png);background-repeat:no-repeat;}
.categoryBox li h3 i.icon00{background-position:2px -100px;}
.categoryBox li h3 i.icon01{background-position:-16px -102px;}
.categoryBox li h3 i.icon02{background-position:-37px -100px;}
.categoryBox li h3 i.icon03{background-position:-59px -100px;}
.categoryBox li h3 i.icon04{background-position:-79px -100px;}
.categoryBox li .linkBox{width:100%;height:40px;}
.categoryBox li .linkBox a.linkDom{display:block;float:left;height:16px;line-height:16px;font-size:12px;color:#666;padding:0 4px;margin:2px 3px 2px 0;}
.categoryBox li .linkBox a.linkDom.on{background-color:#FF9900;border-radius:3px;color:#FFF;}
.categoryBox li:last-child{border-bottom:0 none;height:90px;}
.categoryBox li:last-child .catItemCon{padding:7px 4px 7px 10px;}
.categoryBox li.on .catItemCon{border-left-color:#CE171F;background-color:#F1F1F1;}
.menuBox{position:absolute;left:190px;top:34px;height:450px;width:710px;box-shadow:0 0 4px #CCC;display:none;}
.menuBox .menuCon{float:left;width:500px;height:100%;background-color:#F1F1F1;position:relative;}
.menuBox .menuCon .Bg{margin-left:90px;width:410px;height:100%;background-color:#FFF;}
.menuDom{width:500px;height:100%;position:absolute;left:0;top:0;overflow:hidden;}
.menuItem{width:100%;height:auto;}
.menuItemTitle{float:left;padding:15px 10px 10px 20px;width:60px;height:22px;line-height:22px;font-size:12px;text-align:right;color:#333;}
.menuCon-list{float:left;width:380px;padding:15px 0 10px;border-top:1px dotted #CCC;margin:0 15px;}
.menuCon-list i{float:left;display:block;width:0;height:12px;margin:5px 0;border-left:1px solid #CCC;}
.menuCon-list a{float:left;display:block;padding:0 7px;line-height:22px;font-size:12px;color:#666;border-left:1px solid #FFF;}
.menuCon-list a:hover{color:#E60012;}
.menuBox .menuFoc{width:210px;height:100%;float:left;overflow:hidden;}
.menuBox .menuFoc img{width:auto;height:100%;}
.menuItem.first .menuCon-list{border-top-color:#FFF;}
/* scrollImgs */
.scrollImgs{width:100%;height:450px;overflow:hidden;position:relative;z-index:2;}
.divImgs{position:absolute;left:0;top:0;z-index:3;width:400%;height:100%;}
.divImgs img{width:25%;height:100%;float:left;}
.divIcons{position:absolute;left:50%;bottom:15px;z-index:3;width:auto;margin-left:-20px;height:10px;}
.divIcons li{float:left;width:10px;height:10px;margin:0 4px;background-color:#FFF;cursor:pointer;}
.divIcons li.on{background-color:#ff3c3c;}
/* divCon */
.divCon{width:1200px;margin:0 auto;}
.divCon .conHead{width:100%;height:32px;line-height:32px;font-size:16px;font-weight:bold;padding-top:20px;border-bottom:2px solid #FF4500;}
.divCon .conHead a{color:#FF4500;}
.divCon .conBody{width:100%;background-color:#FFF;}
.divCon .conBody li{float:left;}
/* 盒子 */
.boxM{width:240px;height:400px;}
.boxL{width:330px;height:360px;}
.boxS{width:220px;height:360px;}
.boxSM{width:210px;height:360px;}
.boxM img{width:240px;height:400px;}
.boxL img{width:330px;height:360px;}
.boxS img{width:220px;height:360px;}
.boxSM img{width:210px;height:360px;}
/* 内部盒子 */
.box1{width:100%;height:100%;text-align:center;overflow:hidden;}
.box1 img{width:auto;height:290px;}
.box2{width:100%;height:50%;text-align:center;}
.box2 img{width:190px;height:100px;}
.listDom{padding:11px 10px 0;}
.listDom a.list-name{display:block;float:left;margin:0 5px;width:85px;height:32px;line-height:32px;font-size:12px;text-indent:5px;color:#333;border-bottom:1px dotted #EEE;}
.listDom a.list-name:hover{color:#E60012;}
.box-bottom{width:100%;height:250px;text-align:center;}
.box-bottom img{width:auto;height:180px;}
/* 内盒文字 */
strong.s-title{display:block;height:25px;line-height:25px;font-size:16px;color:#333;padding-top:15px;overflow:hidden;}
span.s-name{display:block;height:20px;line-height:20px;font-size:14px;color:#666;padding-bottom:10px;overflow:hidden;}
h2.h-title{display:block;height:18px;line-height:24px;font-size:14px;color:#FF4500;padding:14px 0 3px;overflow:hidden;}
span.h-name{display:block;height:24px;line-height:24px;font-size:12px;color:#999;padding-bottom:10px;overflow:hidden;}
p.p-title{display:block;height:18px;line-height:24px;font-size:14px;color:#000;padding:14px 0 3px;overflow:hidden;}
span.p-name{display:block;height:24px;line-height:24px;font-size:12px;color:#999;padding-bottom:10px;overflow:hidden;}
/* 内盒边框 */
.borderR{border-right:1px solid #F2F2F2;}
.borderL{border-left:1px solid #F2F2F2;}
.borderB{border-bottom:1px solid #F2F2F2;}